.header-cart, .header-account {
    white-space: nowrap;
    margin-left: 40px;
}

.custom-menu {
    li {
        cursor: pointer;
    }
}

.header-btns-icon {
    border-radius: 20px;
    overflow: hidden;
}