<app-navbar></app-navbar>
<br>
<div class="container">
  <!-- row -->
  <div class="row">
    <form id="checkout-form" class="clearfix" (ngSubmit)="registerUser()" #registerUserForm="ngForm">
      <div class="col-md-6">
        <div class="billing-details">
          <p>Already a customer ? <a href="#/login">Login</a></p>
          <div class="section-title">
            <h3 class="title">Register</h3>
          </div>
          <div class="form-group">
            <input [(ngModel)]="newUser.company" type="checkbox" name="company" >Company<br>           
          </div>
          <div class="form-group">
            <input id="name" [(ngModel)]="newUser.name" class="form-control input" type="text" name="name" placeholder="name" #name="ngModel" minlength="2" maxlength="20" pattern=".*[^ ].*" required>
            <div *ngIf="name.invalid"
              class="alert alert-warning">
                Name must be at least 2 and max 20 characters long.
            </div>
          </div>
          <div class="form-group">
            <input id="username" [(ngModel)]="newUser.username" class="form-control input" type="text" name="username" placeholder="username" #username="ngModel" ng-trim="false" pattern="^[a-zA-Z0-9._-]+$" minlength="4" maxlength="20" required>
            <div *ngIf="username.invalid"
              class="alert alert-warning">
                Username must be at least 4 and max 20 characters long, It can only have these symbols - _ . without spaces
            </div>
            <div *ngIf="errors.username"
              class="alert alert-danger">
                {{errors.username[0]}}.
            </div>
          </div>
          <div class="form-group">
            <input id="password" [(ngModel)]="newUser.password" class="form-control input" type="password" name="password" placeholder="password" #password="ngModel"  minlength="4" maxlength="14" required>
            <div *ngIf="password.invalid"
              class="alert alert-warning">
                Password is at least 4 and max 14 characters long.
            </div>
          </div>
          <div class="form-group">
            <input id="email" [(ngModel)]="newUser.email" class="form-control input" type="email" name="email" placeholder="email" #email="ngModel" email required>
            <div *ngIf="email.invalid"
            class="alert alert-danger">
              Email is invalid.
            </div>
            <div *ngIf="errors.email"
              class="alert alert-danger">
                {{errors.email[0]}}.
            </div>
          </div>
          <div class="form-group">
            <input id="birthdate" [(ngModel)]="newUser.birthdate" class="form-control input input-date" type="date" #birthdate="ngModel" name="birthdate" min="1990-01-01" max="2010-01-01" required>
            <div *ngIf="!birthdate.dirty && !birthdate.touched"
              class="alert alert-warning">
                Birthdate is required.
            </div>
          </div>
          <div class="form-group">
            <input [(ngModel)]="newUser.gender" type="radio" name="gender" value="male"> Male<br>
            <input [(ngModel)]="newUser.gender" type="radio" name="gender" value="female"> Female<br>
            <input [(ngModel)]="newUser.gender" type="radio" name="gender" value="other"> Other
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!registerUserForm.form.valid">Sign in</button>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1">
          <div class="section-photos">
              <div class="form-group">
                    <div class="shipping-title">
                      <h3>Profile photo</h3>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <label for="file" class="thumbnail">
                          <img [src]="url" alt="">
                          <h4 [hidden]="url">Photo</h4>
                        </label>
                      </div>
                      <input id="file" type='file' #fileInput class="input-file" [(ngModel)]="newUser.image" name="profile-photo" #profilePhoto="ngModel" (change)="onSelectFile($event)">
                    </div>
                    <!-- <div class="alert alert-warning" *ngIf="!image">
                        Profile photo is required.
                    </div> -->
                </div>
            </div>
      </div>
    </form>
  </div>
</div>